cdm/src/main/resources/schema/message.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Message">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="ProtocolVersion"/>
                <xs:element name="Sender">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:string" name="Address"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Target">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:string" name="Address"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="Timestamp"/>
                <xs:element type="xs:string" name="Timeout"/>
                <xs:element type="xs:string" name="Payload"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>